.header {
  display: block;
  position: relative;
  float: left;
  width: 100%;
  &__menu {
    float: right;
    display: block;
    position: relative;
    width: 600px;
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      text-align: right;
      li {
        display: inline-block;
        margin-left: 38px;
        padding: 42px 0;
        color: #262626;
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
        a {
          color: #262626;
        }
      }
    }
  }
  &__logo {
    display: block;
    position: relative;
    float: left;
    width: 250px;
    padding-top: 27px;
    img{
      width: 100%;
      object-fit: contain;
    }
  }
  .menu-link {
    display: none;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .4);
    position: fixed;
    right: 12px;
    z-index: 15;
    top: 13px;
    @include breakpoint(max-width 770px) {
      display: block;
    }
    span, span:before, span:after {
      display: block;
      height: 2px;
      width: 18px;
      background-color: #222;
      position: absolute;
      left: 50%;
      margin-left: -9px;
      top: 50%;
      margin-top: -1px;
    }
    span:before {
      transition: all 0.2s;
      margin-top: -6px;
      content: '';
    }
    span:after {
      transition: all 0.2s;
      margin-top: 4px;
      content: '';
    }
    &_active span {
      background-color: transparent;
      &:before {
        transform: rotate(135deg);
        margin-top: 0;
      }
      &:after {
        transform: rotate(-134deg);
        margin-top: 0;
      }
    }
  }
}